<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="classes" thread-count="5"  >
  <test thread-count="5" name="Test">
    <classes>
      <class name="dockerGitJenkinMvn.demo.startGrid"/>
      <class name="dockerGitJenkinMvn.demo.test3"/>
      <class name="dockerGitJenkinMvn.demo.test2"/>
      <class name="dockerGitJenkinMvn.demo.test1"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
